{% extends 'base/base.html' %}
{% block title %} {{title}} {% endblock %}

{% block content %}
    
    {%from "_macro.html" import render_field %}
        
    <div class="container">
        <h1 class="text-center mt-5 mb-5 text-dark">Antuapp</h1>
    </div>
    <div class="container">
        <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
    
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Registro de Usuarios</h5>
                    </div>
                    <div class="card-body">
                        <form name="loginForm" id="loginForm" method="POST" action="/usuario">
               
                            <div class="row control-group">
                               <div class="form-group col-xs-12 floating-label-form-group controls" name="username" id="username">
                                    {{render_field(form.username, class="form-control text-secondary p-3 mb-2 bg-light text-dark",)}}
                                        {% for error in form.username.errors%}
                                            <span>{{error}}</span>
                                        {%endfor%}
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls" name="clave" id="clave">
                                    <td>{{render_field(form.clave, class="form-control text-secondary p-3 mb-2 bg-light text-dark",  type="password")}}</td>
                                         
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls" name="nombre_completo" id="nombre_completo">
                                    <td>{{render_field(form.nombre_completo, class="form-control text-secondary p-3 mb-2 bg-light text-dark")}}</td>
                                       
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <button type="submit" class="btn btn-outline-primary btn-sm">Ingresar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

           
            <div class="col-md-6">
                <table class="table table-dark table-striped">
                
                    <thead>
                      <tr align="center">
                        <th scope="col">Usuario</th>
                        <th scope="col">Clave</th>
                        <th scope="col">Nombre completo</th>
                        <th scope="col" colspan="2">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                        {%for usuario in usuarios %}   
                        <form action="/edit/{{usuario.username}}" method="POST">
                            <tr>
                                
                                <td><input type="text" class="form-control" value="{{usuario.username}}" name="username"></td>
                                <td><input type="text" class="form-control" value="{{usuario.clave}}" name="clave"></td>
                                <td><input type="text" class="form-control" value="{{usuario.nombre_completo}}"name="nombre_completo"></td>
                                <td><button class="btn btn-primary btn-sm" type="submit">Editar</button></td>
                                <td><a href="{{url_for('delete', username=usuario.username)}}" class="btn btn-danger btn-sm">Eliminar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>            
                
            </div>
            
        </div>

{% endblock content%}